.detailImg {

    &__iframe {
        position: absolute; 
        width: 100%;
        height: 100%; 
        border: none; 
        outline: none;
        z-index: -1;
        background: rgba(84, 0, 255, 0.5); 
        .iframeYT {
            border: none;
            opacity: 0.8;
            width: 100%;
            height: 100%;
        }
    }
}