.inputSearch {
    padding: 0 0 20px 0;
    display: inline;

    &__cnt {
        width: 300px;
        min-height: 250px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

    }

    &__header {
        padding: 15px;
        font-size: 17px;
        font-weight: 400;
    }

    &__subheader {

        .field {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
        }
    }

    &__form {
        margin-top: 20px;
        padding: 0 15px;

        input {
            margin-top: 10px;
            border: 1px solid rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            outline: none;
            padding: 13px 70px 13px 10px;
            
        }

        .searchIcon {
            position: absolute;
            right: 15px; 
            top: 42px;
        }
    }
}
